{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lập phiếu rút tiết kiệm</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lap_phieu_rut_tien.css' %}">
</head>
<body>
    <div class="header-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Logo
                </div>
                <div class="user">
                    <div class="user-info">
                        <p class="username">User name</p>
                        <p class="id">ID</p>
                    </div>
                    <div class="user-avatar">
                        <img src="{% static 'img/avatar.svg' %}" alt="avatar">
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="content-container">
        <div class="wrapper">
            <h1 class="title">Lập phiếu rút tiết kiệm</h1>
            <hr>
            <form action="" class="form-input">
                <div class="form-control">
                    <label for="id-input">ID ghgjd:</label>
                    <input type="text" id="id-input" name="id-input" placeholder="MH370">
                </div>
                <div class="form-control">
                    <label for="tkh-input">Tên khách hàng:</label>
                    <input type="text" id="tkh-input" name="tkh-input" placeholder="Nguyễn Văn A">
                </div>
                <div class="form-control">
                    <label for="cmnd-input">CMND/CCCD:</label>
                    <input type="text" id="cmnd-input" name="cmnd-input" placeholder="1010101011">
                </div>
                <div class="form-control">
                    <label for="dc-input">Địa chỉ:</label>
                    <input type="text" id="dc-input" name="dc-input" placeholder="Thành phố Thủ Đức">
                </div>
                <div class="form-control">
                    <label for="sd-input">Số dư khả dụng:</label>
                    <input type="number" id="sd-input" name="sd-input" placeholder="15000000">
                </div>
                <div class="form-control">
                    <label for="ltk-input">Loại tiết kiệm:</label>
                    <input type="text" id="ltk-input" name="ltk-input" placeholder="Kỳ hạn 6 tháng">
                </div>
                <div class="form-control">
                    <label for="ngaygui-input">Ngày gửi:</label>
                    <input type="date" id="ngaygui-input" name="ngaygui-input" placeholder="31/12/2021">
                </div>
                <div class="form-control">
                    <label for="ngayhet-input">Ngày hết hạn:</label>
                    <input type="date" id="ngayhet-input" name="ngayhet-input" placeholder="31/05/2022">
                </div>
                <div class="form-control">
                    <label for="tt-input">Trạng thái:</label>
                    <input type="text" id="tt-input" name="tt-input" placeholder="Chưa hết kỳ hạn">
                </div>
                <div class="submit-input">
                    <input type="submit" value="Rút phiếu" class="rp-input">
                    <input type="submit" value="Rút và in phiếu" class="rpip-input">
                </div>
            </form>
        </div>
    </div>

    <div class="footer-container">
        <div class="wrapper">
            Footer
        </div>
    </div>
</body>
</html>