/* 
body{
    padding: 0 !important;
    margin: 0 !important;
}
.home {
    display: flex;
    flex-direction: column;
    
    
}

.homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    height: 15vh;
}

.homeHeaderLogo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.homeHeaderUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}

.homeHeaderLogo > p {
    margin: 4px 0px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Tahoma', sans-serif;
    color: whitesmoke;

}

.homeHeaderLogo> img {
    width: auto;
    height: 60px;
    border-radius: 5px;
}

.infoUser{
    padding-right: 20px;
}
.logoUser{
    width: 60;
    height: 60;
}
.logoUser> img {
    width: auto;
    height: 60px;
    border-radius: 100px;
} */


/* .homeBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55vh;
}

.lapphieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.lapphieutk{
    padding-bottom: 10px;
}

.lapphieutk>button {
    background-color: rgb(0, 172, 0);
    font-size: 30px;
}

.lapphieurut>button {
    background-color: rgb(240, 92, 82);
    font-size: 30px;
}

.tracuu_thongke {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tracuu{
    padding-bottom: 10px;
}

.tracuu>button {
    background-color: rgb(28, 111, 189);
}

.thongke>button {
    background-color: rgb(129, 52, 216);
}

button {
    width: 60vh;
    height: 100px;
    border-radius: 20px;
}

button > a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 32px 20px;
    position: relative;
    font-size: 26px;
}

button > a > svg {
    position: absolute;
    left: 28px;
    width: 32px;
    height: auto;

}

.homeFooter{
    height: 30vh;
} */

/* css footer */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}


.footer-distributed {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    /* background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    /* box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
} */

/* Footer left */

/* .footer-distributed .footer-left {
    width: 40%;
} */

/* The company logo */

/* .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
} */

/* .footer-distributed h3 span {
    color: lightseagreen;
} */

/* Footer links */

/* .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
} */

/* .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
} */

/* Footer Center */

/* .footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
} */

/* Footer Right */

/* .footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
} */

/* .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #00568c;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
} */

/* If you don't want the footer to be responsive, remove these media queries */

/* @media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

} */

.btn-homebody {
    background: yellow;
    text-align: center;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    margin: 17px 0px;
    width: 100%;
    position: relative;
}

.btn-homebody > svg {
    position: absolute;
    top: 34%;
    left: 12px;
    width: 32px;
    height: auto;
}

.btn-homebody a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 34px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.lapphieutk {
    background-color: rgb(0, 172, 0);
}

.lapphieurut {
    background-color: rgb(240, 92, 82);
}

.tracuu {
    background-color: rgb(28, 111, 189);
}

.thongke {
    background-color: rgb(129, 52, 216);
}



