{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm phiếu rút</title>
    <link rel="stylesheet" href="{% static 'css/tim_phieu_rut.css' %}">
</head>
<body>
    {% for message in messages %}
    
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
    </div>

    {% endfor %}
    <div class="header-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Logo
                </div>
                <div class="user">
                    <div class="user-info">
                        <p class="username">User name</p>
                        <p class="id">ID</p>
                    </div>
                    <div class="user-avatar">
                        <img src="{% static 'img/avatar.svg' %}" alt="avatar">
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="content-container">
        <div class="wrapper">
            <h1 class="title">Rút tiết kiệm</h1>
            <hr>
            <form action="/home/tim_kiem_phieu_tiet_kiem/" method ="POST" class="form-input">
                {% csrf_token %}
                <div class="form-control">
                    <label for="ID Khach Hang">ID Khách Hàng:</label>
                    <input type="text" name="id" id="ID Khach Hang" placeholder="Ví dụ: KHxx" Required>

                    <label for="name"> Tên Khách Hàng: <input type="text" title="name" name = "tenkh" 
                        pattern="^[a-zA-Z]{1,}(?: [a-zA-Z]+){1,5}$" 
                        Required 
                        style="text-transform:uppercase"
                        placeholder="Họ và tên viết không dấu"></label><br>
                     
                    <label for="CCCD"> CCCD: <input type="text" title="CCCD" name='CCCD' 
                            Required 
                            pattern="^(\d{9}|\d{12}})"
                            placeholder="9 (CMND) hoặc 12 (CCCD) chữ số"></label><br>

                    <label for="Mã Phiếu Tiết Kiệm"> Mã Phiếu Tiết Kiệm </label>
                    <input type="text" name="maptk" id="Mã Phiếu Tiết Kiệm" placeholder="Ví dụ: PTKxx" Required>

                </div>
                <div class="classbutton">
                    <div class="lapphieu">
                        <button>Tìm Kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer-container">
        <div class="wrapper">
            Footer
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>