<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
    
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
            </div>

        {% endfor %}

        <h3>Sign Up</h3>
        
        <form action="/adsite/signup" method="post">
        {% csrf_token %}
            <label for="">Username</label>
            <input type="text" name="username" id="username" placeholder="Create a username (only letters and numbers)" Required>
            <br>
            <label for="">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="Enter your First Name" Required>
            <br>
            <label for="">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Enter your Last Name" Required>
            <br>
            <label for="">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your Email" Required>
            <br>

            <label for="">Choose a car:</label>
            <select id="position" name="position" placeholder="Select a position" Required>
            <option value="NhanVien">Nhân Viên</option>
            <option value="NhanVienPhanTichDuLieu">Nhân Viên Phân Tích Dữ Liệu</option>
            <option value="GiamDoc">Giám Đốc</option>
            </select>
            <br>

            <label for="">Password</label>
            <input type="password" name="password1" id="password1" placeholder="Create a Password" Required>
            <br>
            <label for="">Confirm Password</label>
            <input type="password" name="password2" id="password2" placeholder="Confirm Your Password" Required>
            <br>
            <button type="submit">Sign Up</button>
        </form>

        <script src="" async defer></script>
    </body>
</html>